body {
    margin: 0;
    padding: 0;
}
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7300dc;
}
#title-logo > a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 20px;
    text-decoration: none;
    font-size: 15px;
}
#title-logo > a > h1 {
    font-family: 'fruity';
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 0px 3px black;
}
#title-logo > a:hover {
    text-decoration: underline;
}
#menu {
    margin: 0;
    padding: 0;
}
#menu-container{
    display: flex;
    margin: 0;
    padding: 0;
}
#menu-container > li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu-container > li > a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
    margin: 0;
    text-decoration: none;
    font-size: 15px;
}
#menu-container > li > a:hover{
    text-decoration: underline;
}

#main-banner {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    background: #ff7300dc;
    margin-top: 30px;
    height: 200px;
    
}
#main-banner > a > img {
    
    margin-top: 10px;
    height: 180px;
    width: 300px;
    box-shadow: 0px 0px 2px rgb(233, 233, 233);
}

#main-body {
    margin: 30px auto auto auto;
    box-shadow: 0px 0px 3px #7c7c7c;
    background: #f7f7f7;
    width: 780px;
}

#nav-recipe {
    background: #ff7300dc;
}
#menu-recipe{
    display: flex;
    justify-content: space-between;
}
#menu-recipe > li {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}
#menu-recipe > li > a {
    color: #fff;
    margin: 0 0px 0px 0 ;
    padding: 10px 10px 10px 0;
    display: block;
    text-decoration: none;
}
#hambuguer-menu,
#hambuguer-menu::before,
#hambuguer-menu::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    visibility: hidden;
}
#hambuguer-menu::before {
    content: '';
    margin-top: -8px;
}
#hambuguer-menu::after {
    content: '';
    margin-top: 8px;
}
#content-body {
    display: flex;
    justify-content: space-around;
}
#ingredites-body{
    margin: 0;
    padding: 0;
}
#ingredites-body > ul > li{
    list-style:circle;
    padding-bottom: 10px;
}
#preparo-body{
    margin: 0;
    padding: 0 100px 0 150px;
}
#tempo-body{
    margin: 0;
    padding: 0 40px 0 0;
}
#tempo-body{
    margin: 0;
    padding: 0 40px 0 0;
}

#footer-main{
    background: #ff7300dc;
    margin-top: 30px;
    height: 120px;
}
#img-container{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px; 
}
#fb-img, #insta-img, #linkedin-img {
    margin: 0;
}
#fb-img:hover,#insta-img:hover,#linkedin-img:hover {
    border-radius:20% ;
    background-color: rgb(233, 233, 233, 0.5);
}
#fb-img > img,#linkedin-img > img   {
    width: 30px;
    height: 30px;
    margin: 10px;
    filter: grayscale(100%) ;
}
#insta-img > img{
    width: 25px;
    height: 25px;
    margin: 12px 10px 10px 10px;
    filter: grayscale(100%) ;
}
#fb-img > img:hover,#insta-img > img:hover,#linkedin-img > img:hover{
    filter: none;
}

#copyright {
    display: flex;
    justify-content: center;
}
#copyright>p {
    text-align: center;
    margin: auto;
    color: #fff;
}
@media all and (max-width:800px){
    #main-body {
        width: 580px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }
    #ingredites-body{
        margin: 0;
        padding: 0;
    }
    #ingredites-body > ul > li{
        padding-bottom: 10px;
    }
    #preparo-body{
        margin: 0;
        padding: 0 50px 0 100px;
    }
    #tempo-body{
        margin: 0;
        padding: 0 30px 0 0;
    }
}
@media all and (max-width:600px){
    #main-body {
        width: 380px;
    }
    #menu-container {
        visibility: collapse;
    }
    #hambuguer-menu,
    #hambuguer-menu::before,
    #hambuguer-menu::after{
        visibility: visible;
        right: 0;
        top: 15px;
        margin-right: 5px;
    }
    #hambuguer-menu::before {
        content: '';
        margin-top: -5px;
        margin-right: 0px;
    }
    #hambuguer-menu::after {
        content: '';
        margin-top: 5px;
        margin-right: 0px;
    }
    #menu-recipe > li > a {
        padding: 10px;
    }
    #menu-recipe > li > a:first-of-type {
        padding-left: 0px;
        padding-right: 50px;
    }
    
    #img-container{
        justify-content: center;
    }
}
@font-face {
    font-family: 'fruity';
    src: url('/font/fruity_juice-webfont.woff2') format('woff2'),
         url('/font/fruity_juice-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


